* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8fa;
}

/* -----------Navabar-------- */
.navbar {
  background-color: #3c3c3c;
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  box-shadow: 0 3px 5px #8d8d8d;
}

.color-list{
  display: flex;
  align-items:center;
  padding: 8px;
  color:white;
  border-radius: 10px;
  background-color: #52ceff;
}
.color-list li{
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
}

.nav-box{
  height: 25px;
  width: 25px;
}

/* Navbar Button --> Modal open when Click */
.open-btn {
  text-align: center;
  margin-left: 40px;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #ffa652;
}

.open-btn:hover{
  background-color: #ff527d;
}

/* Close Button --> for Closing Modal */
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  border: none;
  color: white;
  background: transparent;
  font-size: 1.2em;
}

/* Modal container --> Making it Hidden and Visible */

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  background-color: #64c4c3;
  box-shadow: 2px 3px 3px #817e7e;
  visibility: hidden;
  z-index: -1;
}

.active {
  visibility: visible;
  z-index: 1;
}

/* Modal Content Part */
.modal-content {
  display: flex;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 400px;
}

.color-area {
  background-color: #3c3c3c;
  padding: 50px;
  width: 30%;
  height: 400px;
}

#msg {
  width: 100%;
  padding: 50px;
  font-size: 2em;
  font-weight: 600;
  color: #eee;
  border: none;
  outline: none;
  background: transparent;
}

.btn {
  position: absolute;
  bottom: 20px;
  padding: 8px 20px;
  border: none;
  outline: none;
  color: white;
  background-color: #ffa652;
  border-radius: 20px;
  box-shadow: 0 0 5px #282829;
  cursor: pointer;
}

/* Color Area */

.box {
  text-align: center;
  margin: 20px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.box:active{
  border:5px solid white
}

.red-box {
  background-color: red;
  color:red;
}
.yellow-box {
  background-color: yellow;
  color:yellow;
}
.blue-box {
  background-color: blue;
  color:blue;
}
.black-box {
  background-color: black;
  color:black;
}

/*------------------- Main Area--------------------------*/

.main{
    margin:50px;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.task{
  position: relative;
    height: 200px;
    width: 300px;
    margin:10px;
    background-color: #c5c6ff;
    box-shadow: 1px 1px 3px #3c3c3c;
}

.task h1{
  text-align: center;
  padding: 10px;
}

.task-head{
  border-radius: 10px;
}

 .icons{
  position: absolute;
  bottom: 0px;
  height:35px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
} 

.icons button{
  padding: 5px;
  background-color: transparent;
  border:none;
  font-size: 1em;
  cursor: pointer;
}

.icon-set button{
  margin-left: 20px;
}
