*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: #3c3c3c;
    padding: 10px;
    margin-top:10px;
}

  .open-btn{
    text-align: center;
    margin-left: 40px;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    background-color: goldenrod;
    box-shadow: 0 0 5px 2px gold;
  }

  .modal-container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: aqua;
    width:800px;
    height:400px;
    visibility: hidden;
    z-index:-1;
  }

  .active{
    visibility: visible;
    z-index: 1;
  }