@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color:#f8d49a;
    height: 100%;
    padding: 10px;
    position: relative;
    height: 100vh;
}

.sidebar-toggle{
    padding: 20px;
    background-color: transparent;
    color: #191919;
    border: none;
    cursor: pointer;
    font-size: 2em;
}

.sidebar{
    height: 100%;
    width: 0;
    position: absolute;
    right: 0;
    top:0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e984a2;
    height: inherit;
    overflow: hidden;
    transition: 0.5s;
}

.menu li{
    list-style: none;
    text-align: right;
    margin:10px;
    font-size: 25px;
}

.menu a{
    color:#f7e6ca;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover{
    color:#229e22;
    font-weight: 800;
}



.social-links{
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
}

.social-links li{
    list-style: none;
    padding: 10px;
}

.fa-facebook:hover{
    color:blue;
}

.fa-instagram:hover{
    color:#bc2a8d;
}

.fa-twitter:hover{
    color:#00acee;
}

.fa-linkedin:hover{
    color:#0072b1;
}
